.navigationBar {
  background: @second-color;
  text-align: right;
}

.navigationBar__linkSection {
  position: relative;

  @media @desktop,
  @tablet {
    display        : flex;
    justify-content: space-between;
  }
}

.logo {
  // float      : left;
  display       : flex;
  height        : 78px;
  align-items   : center;
}

.navigationBar__toggler {
  position: absolute;
  top     : 30px;
  right   : 15px;

  @media @laptop {
    display: none;
  }
}

.navigationBar__toggler-bar {
  display      : block;
  width        : 35px;
  height       : 1px;
  background   : white;
  margin-bottom: 5px;
}

.navigationBar__header {

  @media @laptop {
    // float: left;
  }
}

.navigation {
  display: none;

  @media only screen and(max-width: 1023px) {
    text-align: left;
    border-top: 1px solid white;
  }

  @media @laptop {
    display: block;
  }
}

.navigation.menu-open {
  display: block;
  @media @tablet {
    margin: 70px 0;
  }
}

//top link
.link {
  font-weight: @semibold;
  color      : rgba(255, 255, 255, 0.69);
  padding    : 20px 25px;
  display    : inline-block;
  width      : 100%;

  @media @laptop {
    padding: 30px;
    width  : auto;
  }
}

.link:hover {
  background: @main-color;
}

.link:active,
.link:focus {
  background: transparent;
  color     : @main-color;
}

.navigation__listItem {
  margin: 0 0 0 -4px;

  @media @laptop {
    display: inline-block;
  }
}

.dropdownBlock {
  display   : none;
  background: #fff;
  position  : absolute;
  left      : -15px;
  right     : -15px;
  z-index   : 10;

  @media @tablet {
    left : calc(~'370px - 50vw');
    right: calc(~'370px - 50vw');
  }

  @media @laptop {
    left : calc(~'480px - 50vw');
    right: calc(~'480px - 50vw');
  }

  @media @desktop {
    left : calc(~'565px - 50vw');
    right: calc(~'565px - 50vw');
  }
}

.navigation__listItem.dropdownShow {
  .dropdownBlock {
    display: block;
  }
}

.dropdownBlock__container {
  font-size: 14px;
  padding  : 30px 15px 50px;
  width    : 100%;
  max-width: 1310px;
  margin   : auto;
}

.previewPages {
  text-align: center;

  li {
    display     : inline-block;
    margin-right: 15px;
    text-align  : left;

    @media @laptop {
      margin-right: 30px;
    }
  }

  span {
    display      : block;
    color        : #646464;
    margin-bottom: 11px;
  }
}

.listPages {
  text-align          : left;
  -webkit-column-count: 2; // Chrome, Safari, Opera
  -moz-column-count   : 2; // Firefox
  column-count        : 2;
  -webkit-column-gap  : 20px; // Chrome, Safari, Opera
  -moz-column-gap     : 20px; // Firefox
  column-gap          : 20px;

  @media @laptop {
    -webkit-column-count: 4; // Chrome, Safari, Opera
    -moz-column-count   : 4; // Firefox
    column-count        : 4;
    -webkit-column-gap  : 50px; // Chrome, Safari, Opera
    -moz-column-gap     : 50px; // Firefox
    column-gap          : 50px;
    align-self          : flex-end;
  }

  li {
    padding-top: 10px;
  }

  a {
    color: #646464;

    &:hover {
      text-decoration: underline;
    }
  }
}

//hero
.hero {

  @media @laptop {
    padding: 140px 0;
  }


  .header-form-block {
    width        : 100%;
    max-width    : 360px;
    background   : white;
    text-align   : center;
    border-radius: 3px;
    overflow     : hidden;

    @media only screen and(max-width: 1023px) {
      margin: auto;
    }

    .form-title {
      display    : block;
      font-size  : 20px;
      font-weight: bold;
      padding    : 15px 0;
    }

    input {
      width    : 80%;
      max-width: 285px;
    }

    button {
      width      : 100%;
      color      : white;
      padding    : 20px;
      font-size  : 15px;
      font-weight: @semibold;

      &:hover {
        background: #fa852b;
        cursor    : pointer;
      }

      &:focus {
        background: #f8740e;
      }

      &:active {
        background: @second-color;
      }
    }
  }
}

.hero__wrap {
  color        : white;
  margin-bottom: 30px;
  text-align   : center;

  @media @laptop {
    max-width    : 523px;
    margin-bottom: 0;
    text-align   : left;
  }
}

.hero__title {
  color         : white;
  text-transform: uppercase;

  @media @tablet {
    padding-top: 52px;
  }

}

.hero__description {
  color        : white;
  font-family  : 'Raleway', sans-serif;
  font-weight  : 300;
  font-size    : 16px;
  opacity      : 0.6;
  line-height  : 23px;
  margin-bottom: 45px;
}

.hero__line-after:after {
  @media only screen and(max-width: 1023px) {
    margin: auto;
  }
}

.touch-device .navigation>ul>li {
  .dropdownBlock {
    @media @tablet {
      left : calc(~'360px - 50vw');
      right: calc(~'360px - 50vw');
    }

    @media @laptop {
      left : calc(~'470px - 50vw');
      right: calc(~'470px - 50vw');
    }

    @media @desktop {
      left : calc(~'555px - 50vw');
      right: calc(~'555px - 50vw');
    }
  }
}